/* Forcing the light mode */
body {
    background-color: #ffffff !important;
    color: #000000 !important;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #ffffff !important;
        color: #000000 !important;
    }
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    height: 100%;
    position: relative;
    color-scheme: dark;
}

#app::after {
    content: "";
    background-image: url("../assets/back.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
    pointer-events: none;
}

:root {
    --nav-active-background: linear-gradient(70deg, #34ab3d, #0072f5);
    --nav-default-background: linear-gradient(25deg, #34ab3d, #0072f5);
}
.custom-background {
    background: var(--nav-active-background);
    color: transparent;
    border: None;
}

.colored{
    font-weight: bold;
    color: transparent;
    background: var(--nav-active-background);
    -webkit-background-clip: text;
    background-clip: text;
}

.nav-item .nav-link.active{
    background: var(--nav-active-background);
    color: white !important;
}


.nav-item:not(.active) .nav-link:hover{
    background: var(--nav-default-background);
    transition: background-color 1s,color 1s ;
    border-bottom: none;
    color: white !important;
}

.nav-item .nav-link{
    color: black;
}

.nav-item:focus-within {
    border: none;
}

.nav-link:focus-within{
    color: white !important;
    background: var(--nav-default-background);
    border-bottom: none !important;
}

.container{
    display: grid;

    margin-top: 2rem;
    padding: 1em;
    background: white;
    border-radius: 2vh;
    border: #017d8f 5px solid;
}


.gradient-button {
    font-size: 2rem;
    background: var(--nav-active-background);
    font-weight: bold;
    color: white;
    opacity: 80%;
}

@media (min-width: 300px) {
    .gradient-button {
        font-size: 0.8rem;
    }
}
@media (min-width: 550px) {
    .gradient-button {
        font-size: 1.5rem;
    }
}
@media (min-width: 450px) {
    .gradient-button {
        font-size: 1.2rem;
    }
}


.gradient-button:hover {
    color: transparent;
    background: var(--nav-active-background);
    -webkit-background-clip: text;
    background-clip: text;
    border: 1px solid #34ab3d;
    transition: opacity 0.3s ease;
    opacity: 1;
}


.custom-reverse-button {
    position: relative;
    font-size: 3vh;
    font-weight: bold;
    color: transparent;
    background: var(--nav-active-background);
    -webkit-background-clip: text;
    background-clip: text;
    border: 1px solid transparent;
    transition: opacity 0.3s ease;
    overflow: hidden;
}

.custom-reverse-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--nav-active-background);
    z-index: -1;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.custom-reverse-button:hover::before {
    opacity: 80%;
}

h1{
    font-size: 1.5rem;
}
